global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 4096

defaults
    mode http
    log global
    option httplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend phishguard_frontend
    bind *:80
    default_backend phishguard_backend

backend phishguard_backend
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    server web01 10.0.0.11:3000 check
    server web02 10.0.0.12:3000 check
